@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    text-decoration: none;
    list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    margin: 1rem auto auto;
    width: 98%;
}

.top-banner {
    display: flex;
    padding: 0.6rem 0rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #FF9500;
    border-radius: 0.4rem;
    width: 100%;
    height: 35.7%;
}

.top-banner img {
    width: 1rem;
    margin-left: 1rem;
    height: auto;
}

.sidebar {
    right: 0;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100vh;
    width: 20%;
    z-index: 999;
    background-color: #ffffff;
}
.side-container {
    padding-left: 2rem;
    margin-top: 1rem;
}
.side-nev-items ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.side-container a {
    color: #454545;
    transition: 0.2s;
}
.side-container a:hover{
    color:#FF9500;
    text-decoration: underline;
}

.side-buttons-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
    width: 50%;
    height: 6%;
}
.side-buttons-container button {
    padding: 0.8rem 1.8rem;
    cursor: pointer;
}

#side-btn1 {
    background-color: #ffffff;
    border-radius: 0.4rem;
    font-weight: 500;
    color: #454545;
    cursor: pointer;
    transition: 0.2s;
}
#side-btn1:hover{
    font-weight: 600;
}
#side-btn2 {
    background-color: #FF9500;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0.4rem;
    font-weight: 500;
    transition: 0.3s;
}
#side-btn2:hover{
    transform: scale(90%);
    font-weight: 600;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0rem ;
    height: 64.3%;
}
.container {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: start;
    padding-left: 4rem;
    align-items: center;
}
.logo img{
    width: 2rem;
    height: auto;
    margin-right: 3rem;
}
.nev-items ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.container a {
    color: #454545;
    transition: 0.2s;
}
.container a:hover{
    color:#FF9500;
    text-decoration: underline;
}

.buttons-container {
    display: flex;
    justify-content: end;
    padding-right: 4rem;
    width: 50%;
    height: 100%;
}
.buttons-container a {
    padding: 0.8rem 1.8rem;
    cursor: pointer;
}

#btn1 {
    background-color: #ffffff;
    border-radius: 0.4rem;
    font-weight: 500;
    color: #454545;
    cursor: pointer;
    transition: 0.2s;
}
#btn1:hover{
    font-weight: 600;
}
#btn2 {
    background-color: #FF9500;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0.4rem;
    font-weight: 500;
    transition: 0.3s;
}
#btn2:hover{
    transform: scale(90%);
    font-weight: 600;
}

.hero-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-container {
    display: flex;
    font-size: 2.2rem;
    font-weight: 700;
    color: #191919;
    align-items: center;
}

#yellow-text-para {
    color: #FF9500;
    font-weight: 700;
}

.text-container {
    margin: 1.2rem 0rem;
}

.text-container h4{
    color: #454545;
    font-weight: 600;
    font-size: 1.7rem;
}

.text-container p{
    margin: 0.6rem 0rem;
    text-align: center;
    color: #454545;
    font-weight: 500;
    font-size: 1.2rem;
}

.hero-buttons {
    margin: 2.6rem auto 0rem auto;
    font-size: 1rem;
}

.hero-buttons a {
    padding: 0.8rem 2rem;
    color: #ffffff;
    border-radius: 0.4rem;
}

#btn3 {
    background-color: #FF9500;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;
}
#btn3:hover {
    transform: scale(90%);
    font-size: 1.2rem;
    font-weight: 600;
}

#btn4 {
    font-weight: 500;
    cursor: pointer;
    color: #454545;
    transition: 0.2s;
}
#btn4:hover {
    font-weight: 600;
    font-size: 1.2rem;
}

.brand-icons {
    width: 100%;
    margin: 6rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.b-icon {
    display: flex;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
}

.b-icon img {
    width: 40%;
    transition: 0.3s;
}

.b-icon img:hover {
    transform: scale(140%);
}

video {
    width: 90%;
    height: auto;
    display: block;
    margin: 0rem auto 6rem auto;
}

#benefits-section {
    width: 90%;
    height: auto;
    margin: 0rem auto;
}

.benefit-container h3{
    font-size: 2.4rem;
    font-weight: 600;
    color: #454545;
    align-items: center;
    margin-bottom: 1rem;
}

.benefit-container p{
    width: 70%;
    color: #191919;
    font-size: 1.1rem;
}   

.grid-1 {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
}

.benefit {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    height: 22rem;
    transition: 0.2s;
}
.benefit:hover {
    background-color:#454545;
    transform: scale(106%);
    .number {
        color: #FF9500;
    }
    .text h6 {
        color: #ffffff;
    }
    .text p {
        color: antiquewhite;
    }
}

.number {
    width: 80%;
    margin: 1rem auto;
    text-align: end;
    font-size: 3.4rem;
    font-weight: 700;
    color: #454545;
}

.text h6 {
    width: 80%;
    margin: 0rem auto;    
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
}

.text p {
    width: 80%;
    margin: 0rem auto;
    font-size: 1.2rem;
    line-height: 1.6rem;
}


.image {
    margin: 1rem auto;
    display: flex;
    justify-content: end;
    width: 80%;
    cursor: pointer;
}

.courses-section {
    width: 90%;
    height: auto;
    margin: 5rem auto;
}

.courses-container h3{
    font-size: 2.4rem;
    font-weight: 600;
    color: #454545;
    align-items: center;
    margin-bottom: 1rem;
}

.courses-container p{
    width: 70%;
    color: #191919;
    font-size: 1.1rem;
}   

.grid-2 {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
}

.course {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem auto;
    transition: 0.3s;
    padding: 2rem;
}
.course:hover {
    background-color: #454545;
    color: antiquewhite;
    transform: scale(110%);
    .course h5{
        color: #FF9500;
    }
    .course-info-2 h5{
        color: #FF9500;
    }
    .course-info-2 a {
        color: #FF9500;
    }
}

.course-image img {
    width: 100%;
}

.course-info-1 {
    display: flex;
    padding: 0.6rem 3rem;
    justify-content: space-between;
    width: 100%;
}

.course-info-1 h6 {
    font-size: 1rem;
    font-weight: 700;
}

.course-info-2 h5 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 2rem 0.6rem 2rem;
}

.course-info-2 p {
    font-size: 1rem;
    margin: 0rem 2rem;
}

.course-info-2 h6 {
    font-size: 1rem;
    width: 6rem;
    cursor: pointer;
    margin: 2rem auto 0.4rem auto;
    text-align: center;
}

.course-info-2 a {
    color: #454545;
}
.course-info-2 a:hover {
    color: #000000;
}
.course-info-2 h6:hover {
    color: #191919;
    transform: scale(90%);
}

#testimonials-section {
    width: 90%;
    height: auto;
    margin: 5rem auto;
}

.testimonial-container {
    margin-bottom: 4rem;
}

.testimonial-container h3{
    font-size: 2.4rem;
    font-weight: 600;
    color: #454545;
    align-items: center;
    margin-bottom: 1rem;
}

.testimonial-container p{
    width: 90%;
    color: #191919;
    font-size: 1.1rem;
}   

.grid-3 {
    margin-top: 2rem;
    display: grid;
    row-gap: 3rem;
    column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.testimonial {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    transition: 0.3s;
}
.testimonial:hover {
    background-color: #454545;
    color: #FF9500;
    transform: scale(110%);
    .person-info {
        color: antiquewhite;
    }
    .person-info button {
        background-color: #454545;
    }
}

.person-info button {
    cursor: pointer;
    transition: 0.3s;
}
.person-info button:hover {
    color: #FF9500;
}
.test-info {
    font-size: 1rem;
    margin: 0rem 2rem;
    line-height: 1.6rem;
}

.person-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6rem 2rem 0rem 2rem;
}

.person-img-name {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.modal-overlay {
    position: fixed;
    display: flex;
    z-index: 1000;
    left: 0;
    right: 0;
    width: 100%;
    height: 140%;
    background-color: rgba(0, 0, 0, 1);
    justify-content: center; 
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}
.modal-overlay.show {
    opacity: 1;
    visibility: visible;
}
.modal-content {
  background-color: #4a4a4a; 
  color: #000;
  padding: 1rem;
  border-radius: 8px;
  width: 90%; 
  height: 80%;
  position: relative;
  box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.3);
  transform: scale(0.8);
  transition: transform 0.3s ease;
}
.modal-overlay.show .modal-content{
  transform: scale(1);
}
.modal-content p {
    color: antiquewhite;
    width: 90%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.close-btn:hover {
  color: #ccc;
}

.pricing-section {
    width: 90%;
    height: auto;
    margin: 5rem auto;
}

.pricing-container {
    margin-bottom: 4rem;
}

.price-heading {
    font-size: 2.4rem;
    font-weight: 600;
    color: #454545;
    align-items: center;
    margin-bottom: 1rem;
}

.price-info {
    width: 90%;
    color: #191919;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
}   

.price-info p {
    width: 80%;
}

.price-buttons {
    width: auto;
    text-align: end;
}

.price-buttons button{
    padding: 0.8rem 1.8rem;
    cursor: pointer;
    border-radius: 0.4rem;
}

#p-btn-1:hover {
    background-color: #FF9500;
}
#p-btn-2:hover {
    background-color: #FF9500;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.prices {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.price-text p {
    background-color: antiquewhite;
    text-align: center;
    font-size: 1.4rem;
}

.price-text h2 {
    margin: 2rem 0rem 5rem 0rem;
    font-size: 4rem;
    font-weight: 500;
}
.price-text sub {
    font-size: 1rem;
}

.price-text h6 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

.feature {
    display: flex;
    padding: 0.8rem 2rem;
    align-items: center;
    column-gap: 1rem;
    transition: 0.2s;
}
.feature:hover {
    transform: scale(110%);
}

.price-btn button {
    margin: 1rem auto;
    padding: 1rem 14vw;
    font-size: 1.1rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    color: antiquewhite;
    cursor: pointer;
    background-color: #FF9500;
    transition: 0.2s;
}
.price-btn button:hover {
    background-color: #454545;
}

#faqs {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 10rem auto;
    padding: 2rem;
}

.faq-info {
    width: 50%;
}
.faq-info h2 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #454545;
    align-items: center;
    width: 80%;
    margin-bottom: 1rem;
}

.faq-info p {
    width: 80%;
    color: #191919;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
}

.faq-info h6 {
    width: 80%;
    color: #191919;
    font-size: 0.8rem;
    margin: 1rem 2rem 0rem 2rem;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
}

.faq-content {
    width: 40%;
    margin-top: 4rem;
    padding: 2rem auto;
}
.faq-content p {
    width: 80%;
    color: #191919;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
}

.faq-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.faq-container div {
    font-weight: 600;
}

.faq-container img {
    cursor: pointer;
}

.faqans{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    visibility:hidden;
    transition:0.3s ease;
}

.faqans.show{
    opacity:1;
    visibility:visible;
}

.faqAnsArea{
    background:#4a4a4a;
    padding: 2rem;
    border-radius:8px;
    width:60%;
    height: 34%;
    box-shadow: 2px 2px 2cap rgb(255, 149, 0);
    transform:scale(0.8);
    transition:0.3s ease;
    
}
.faqAnsArea p {
    color: antiquewhite;
}

.faqans.show .faqAnsArea{
    transform:scale(1);
}
.faqCloseBtn {
    cursor: pointer;
    color: #FF9500;
    font-size: 2rem;
}

footer {
    margin: 0rem auto;
    padding: 4rem 3rem;
    width: 100%;
    background-color: #FF9500;
}

.footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footer-list {
    display: flex;
    flex-direction: column;
}

.footer-list li {
    display: flex;
    padding: 0.4rem 0rem;
    color: #ffffff;
    align-items: center;
    cursor: pointer;
    column-gap: 0.4rem;
}
.footer-list li:hover {
    color: #000;
}
.footer-list li a:visited, a:link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#footer-logo {
    margin-bottom: 2rem;
    width: 4rem;
    height: 3rem;
    border-radius: 0.6rem;
    border: 2px solid antiquewhite;
}

.footer-title {
    color: #000000;
    font-weight: 800;
    cursor: pointer;
    margin-bottom: 1rem;
}

.footer-title p , a{
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
}

.footer-title a:visited, a:link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.footer-list img {
    padding: 0rem 0.6rem;
    cursor: pointer;
}

.copyright {
    margin-top: 3rem;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .course-info-1 {
        display: flex;
        padding: 0.6rem 0rem;
        justify-content: space-between;
        width: 100%;
    }

    .course-info-1 h6 {
        font-size: 0.6rem;
        font-weight: 700;
    }

    .course-info-2 h5 {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 1rem 0rem 0.6rem 0rem;
    }

    .course-info-2 p {
        font-size: 1rem;
        margin: 0rem 0rem;
    }

    .course-info-2 h6 {
        font-size: 1rem;
        width: 6rem;
        cursor: pointer;
        margin: 2rem auto 0.4rem auto;
        text-align: center;
    }
    .text-container {
        width: 80vw;
    }
    .text-container h4 {
        margin-top: 1rem;
        font-size: 1.4rem;
    }
    .text-container p {
        font-size: 1.1rem;
    }
    nav {
        display: none;
    }
    .course {
        padding: none;
    }
    .sub-container {
        flex-direction: column;
        text-align: center;
        font-size: 1.8rem;
    }
    .grid-1 {
        grid-template-columns: repeat(1,1fr);
        row-gap: 2rem;
    }
    .grid-2 {
        grid-template-columns: repeat(1,1fr);
        row-gap: 2rem;
    }
    .grid-3 {
        grid-template-columns: repeat(1,1fr);
        row-gap: 2rem;
    }
    .grid-4 {
        grid-template-columns: repeat(1,1fr);
        row-gap: 2rem;
    }
    .faqs {
        flex-direction: column;
    }
    .faq-content {
        width: 100%;
    }
    .footer-content {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .price-info{
        flex-direction: column;
        text-align: start;
    }
    .price-buttons {
        text-align: center;
    }
}
