@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    margin: 1rem auto auto;
    width: 98%;
}

.top-banner {
    display: flex;
    padding: 0.6rem 0rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #FF9500;
    border-radius: 0.4rem;
    width: 100%;
    height: 35.7%;
}

.top-banner img {
    width: 1rem;
    margin-left: 1rem;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0rem ;
    height: 64.3%;
}
.container {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: start;
    padding-left: 4rem;
    align-items: center;
}
.logo img{
    width: 2rem;
    height: auto;
    margin-right: 3rem;
}
.nev-items ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.container a {
    color: #454545;
    transition: 0.2s;
}
.container a:hover{
    color:#FF9500;
    text-decoration: underline;
}

.buttons-container {
    display: flex;
    justify-content: end;
    padding-right: 4rem;
    width: 50%;
    height: 100%;
}
.buttons-container a {
    padding: 0.8rem 1.8rem;
    cursor: pointer;
}

#btn1 {
    background-color: #ffffff;
    border-radius: 0.4rem;
    font-weight: 500;
    color: #454545;
    cursor: pointer;
    transition: 0.2s;
}
#btn1:hover{
    font-weight: 600;
}
#btn2 {
    background-color: #FF9500;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0.4rem;
    font-weight: 500;
    transition: 0.3s;
}
#btn2:hover{
    transform: scale(90%);
    font-weight: 600;
}

.hero {
    width: 90%;
    display: flex;
    margin: 4rem auto;
}

.heroinfo {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; 
}
.info h2 {
    font-size: 2.2rem;
    font-weight: 500;
} 
.info p {
    width: 80%;
    margin-top: 0.6rem;
    color: #454545;
}

.test {
    width: 80%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    transition: 0.3s;
}
.test:hover {
    background-color: #404040;
    color: #FF9500;
    transform: scale(102%);
    .person-info {
        color: antiquewhite;
    }
}

.test-info {
    font-size: 1rem;
    margin: 0rem 2rem;
    line-height: 1.6rem;
}

.person-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6rem 2rem 0rem 2rem;
}

.person-img-name {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}


.loginside {
    width: 40%;
    height: 100%;
    padding: 2rem;
    transition: 0.2s;
}
.loginside:hover {
    box-shadow: 2px 2px 30px 10px rgb(165, 165, 165);
    border-radius: 0.6rem;
}

.loginheading {
    text-align: center;
}
.loginheading h2 {
    font-size: 2.8rem;
    font-weight: 600;
}
.loginheading p {
    color: #454545;
}

.loginform form {
    margin-top: 2.6rem;
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: 600;
    color: #404040;
}

form input {
    margin: 0.4rem 0 1.6rem 0;
    padding: 0.6rem 2.4rem 0.6rem 0.6rem;
}
form input:focus {
    outline: none;
}
#forgotpassword {
    text-align: end;
    color: #454545;
    cursor: pointer;
}
#forgotpassword:hover {
    color: #6f6f6f;
    text-decoration: underline;
}

#rembtn {
    color: #454545;
    cursor: pointer;
}
#rembtn:hover {
    text-decoration: underline;
}

#loginbtn {
    background-color: #FF9500;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 0.6rem;
    border-radius: 0.6rem;
    margin: 0.2rem;
}

.loginform form p {
    align-items: center;
}

#or {
    text-align: center;
    margin: 1.2rem 0rem 1.2rem 0rem;
    font-size: 1.2rem;
    color: #6f6f6f;
}

#googlelogin {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    column-gap: 0.6rem;
}

#googlelogin:hover {
    color: blue;
}

#signuplink {
    display: flex;
    column-gap: 0.4rem;
    padding: 3rem 0 0 0;
    align-items: center;
    justify-content: center;
}

#signuplink img {
    width: 1.2rem;
}

#signuplink a {
    color: #404040;
    display: flex;
    align-items: center;
    text-decoration: underline;
    font-size: 1rem;
}

#signuplink a:hover {
    color: blue;
}

footer {
    margin: 0rem auto;
    padding: 4rem 3rem;
    width: 100%;
    background-color: #FF9500;
}

.footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footer-list {
    display: flex;
    flex-direction: column;
}

.footer-list li {
    display: flex;
    padding: 0.4rem 0rem;
    color: #ffffff;
    align-items: center;
    column-gap: 0.4rem;
}

#footer-logo {
    margin-bottom: 2rem;
    width: 4rem;
    height: 3rem;
    border-radius: 0.6rem;
    border: 2px solid antiquewhite;
}

.footer-title {
    color: #000000;
    font-weight: 700;
    margin-bottom: 1rem;
}

.footer-title p {
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
}

.footer-list img {
    padding: 0rem 0.6rem;
}

.copyright {
    margin-top: 3rem;
    text-align: center;
}